div {
  font-family: 'Yeon Sung', cursive;
}

h1 {
  font-family: 'Jua', sans-serif;
}

.noLink{
  color: black;
  text-decoration: none;
}

.noLink:hover{
  color: black;
  text-decoration: none;
}

.title{
  font-size: 1.2rem;
}

.content{
  font-size: 0.8rem;
}

.blank {
  position: relative;
  height: 180px;
  text-align: center;
  background-color: #dcdcdc;
}

.blank h4 {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-before {
  position: absolute;
  content: '★★★★★';
  color: #fff5ee;
}

.stars-after {
  overflow: hidden;
  position: absolute;
  content: '★★★★★';
  color: #ffa500;
}


.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-size: cover;
  background-color: #708090;
  background-position: center;
  color:white;
}

.fadein {
  animation: fadein 2s;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
