.noLink{
  color: black;
  text-decoration: none;
}

.noLink:hover{
  color: black;
  text-decoration: none;
}

.title{
  font-size: 1.2rem;
}

.content{
  font-size: 0.8rem;
}

.blank {
  position: relative;
  height: 180px;
  text-align: center;
  background-color: #dcdcdc;
}

.blank h4 {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-before {
  position: absolute;
  content: '★★★★★';
  color: lightgray;
}

.stars-after {
  overflow: hidden;
  position: absolute;
  content: '★★★★★';
  color: gold;
}


.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-size: cover;
  background-color: black;
  color:white;
}

#main_header{
  background-image: #ffe url( "../image/header2.png" ) repeat;
}

#movie_header{
  background-image: #ffe url( "../image/header1.png" ) repeat;
}

#actor_header{
  background-image: #ffe url( "../image/header3.jpg" ) repeat;
}