{% extends 'base.html' %}

{% block title %}
  {{ profile.username }}님의 프로필
{% endblock %}

{% block body %}
  <div class="row my-5">
    <div class="col-5 d-flex align-items-center justify-content-center">
      <h2>@{{ profile.username }}
        {% if user != profile %}
          {% if user in profile.followers.all %}
            <a class="btn btn-warning btn-sm" href="{% url 'accounts:follow' profile.id %}">팔로우 취소</a>
          {% else %}
            <a class="btn btn-success btn-sm" href="{% url 'accounts:follow' profile.id %}">팔로우</a>
          {% endif %}
        {% endif %}
      </h2>
      {% if profile == request.user %}
        <a href="{% url 'accounts:change_profile' %}" class="btn btn-info btn-sm">프로필 수정</a>
      {% endif %}
      
    </div>
    <div class="col-7">
      <strong>
        {{ profile.profile.nickname }}
      </strong>
      <div>
        {{ profile.profile.description }}
      </div>
      <hr>
      <div>
        <span class='mr-3' data-toggle="modal" data-target="#followerModal">팔로워: {{ profile.followers.count }}명</span>
        <span class='ml-3' data-toggle="modal" data-target="#followingModal">팔로우: {{ profile.followings.count }}명</span>
      </div>
    </div>
  </div>
  <div class="my-5">
    {% if user == profile %}
      <h3>내가 좋아하는 배우입니다.</h3>
    {% else %}
      <h3>{{ profile.username }}님이 좋아하는 배우입니다.</h3>
    {% endif %}
    {% if profile.like_actors.all %}
      <div class="row">
        {% for actor in profile.like_actors.all %}
        <div class="col-4 px-1" style="width: 18rem;">
          <div class="card px-0 my-1">
            <img src="{{ actor.image }}" class="card-img-top" alt="{{ actor.name }}">
            <div class="card-body">
              <p class="card-text">{{ actor.name }}</p>
              <a href="{% url 'actors:detail' actor.id %}" class="btn btn-success">바로가기</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="blank">
        <h4>좋아하는 배우가 없습니다.</h4>
      </div>
    {% endif %}
  </div>
  <div class="my-5">
    {% if user == profile %}
      <h3>내가 본 영화입니다.</h3>
    {% else %}
      <h3>{{ profile.username }}님이 본 영화입니다.</h3>
    {% endif %}
    {% if profile.viewed_movies.all %}
      <div class="row">
        {% for movie in profile.viewed_movies.all %}
        
        {% include 'movie_card.html' %}

        {% endfor %}
      </div>
    {% else %}
      <div class="blank">
        <h4>등록된 영화가 없습니다.</h4>
      </div>
    {% endif %}
  </div>
{% include 'follow_modal.html' %}
{% endblock %}