<div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="followingModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followingModalTitle">Followers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          {% if profile.followings.all %}
            {% for person in profile.followings.all %}  
              <li class="list-group-item">
                <a href="{% url 'profile' person.username %}">@{{ person.username }}</a>
              </li>
            {% endfor %}
          {% else %}
            <div class="blank">
              <h4>팔로잉이 없습니다.</h4>
            </div>
          {% endif %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="followerModal" tabindex="-1" role="dialog" aria-labelledby="followerModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followerModalTitle">Followings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          {% if profile.followers.all %}
            {% for person in profile.followers.all %}  
              <li class="list-group-item">
                <a href="{% url 'profile' person.username %}">@{{ person.username }}</a>
              </li>
            {% endfor %}
          {% else %}
            <div class="blank">
              <h4>팔로워가 없습니다.</h4>
            </div>
          {% endif %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>