<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'actors:main' %}"><i class="far fa-star"></i> Ebaeu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'actors:main' %}"><i class="fas fa-home"></i> 메인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'actors:recommand_movie' %}"><i class="fas fa-film"></i> 영화</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'actors:recommand_actor' %}"><i class="fas fa-theater-masks"></i> 배우</a>
        </li>
      </ul>
      <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' user.username %}">{{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:logout' %}"><i class="fas fa-sign-out-alt"></i> <span class="ml-1">로그아웃</span></a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}"><i class="fas fa-sign-in-alt"></i> <span class="ml-1">로그인</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:signup' %}"><i class="fas fa-user-plus"></i> <span> 회원가입</span></a>
        </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'actors:main' %}" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='q'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>