<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'actors:main' %}"><i class="far fa-star"></i> Ebaeu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' user.username %}">{{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:logout' %}"><i class="fas fa-sign-out-alt"></i> <span id="hidename" class="ml-1">로그아웃</span></a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}"><i class="fas fa-sign-in-alt"></i> <span id="hidename" class="ml-1">로그인</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:signup' %}"><i class="fas fa-user-plus"></i> <span id="hidename"> 회원가입</span></a>
        </li>
      {% endif %}
      <div id="hide">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'actors:main' %}"><i class="fas fa-home"></i> 메인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'actors:recommand' %}"><i class="fas fa-film"></i> 영화</a>
        </li>
      </div>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>