{% extends 'bns.html' %}

{% block title %}
배우상세정보 - {{actor.name}}
{% endblock title %}
  
{% block body2 %}
<h2 class="mr-3 my-3">- 상세정보</h2>
<!-- 배우 정보 -->
<div class="card mb-2" >
  <div class="row no-gutters mb-1">
    <div class="col-4 d-flex justify-content-center align-items-center" style="height:150px">
      <div class="col-4 pr-2">
        <p class="text-center">1</p>
      </div>
      <div class="col-8">
        <img src={{actor.image}} 
        class="card-img" 
        alt="profile"
        style="width: auto; height: 125px;"
        >
      </div>
    </div>
    <div class="col-8">
      <div class="card-body mt-3">
        <h5 class="card-title block">
          {{actor.name}}
          <a href="{% url 'actors:like' actor.id %}">
            {% if user in actor.like_users.all %}
              <i class="fas fa-heart"></i>
            <!--아니면 -->
            {% else %}
              <i class="far fa-heart"></i>
            {% endif %}
          </a>
        </h5>
        <p class="card-text">
          <div class="stars-container" style="word-wrap:normal;font-size: 30px; width: 5em">
            <span class="stars-before">★★★★★</span>
            <span class="stars-after" style="width:50%">★★★★★</span>
          </div>
        </p>
      </div>
    </div>
    <!-- 배우 정보 끝 -->
    <hr style="width:70px;border: 1px solid orange;">
    <div class="container mt-1" style="padding-left: 20px; padding-right: 20px">
      <div class="row">
        
        {% for movie in actor.movies.all %}
        
        {% include 'movie_card.html' %}
         
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock body2 %}