{% extends 'base.html' %}
{% load mathfilters %}
{% load humanize %}
{% load bootstrap4 %}

{% block title %}
배우상세정보 - {{actor.name}}
{% endblock title %}

{% block body %}
<button type="button" onclick="goBack()" class="btn btn-dark btn-lg my-3">뒤로가기</button>
<!-- 배우 정보 -->
<div class="card">
  <div class="row col-8 offset-2 my-2">
    <div class="col-sm-12 col-md-3 d-flex align-items-center justify-content-center">
      <a href="{% url 'actors:detail' actor.id %}">
        <img src={{actor.image}} class="card-img" alt="profile" style="height:180px; width:auto">
      </a>
    </div>
    <div class="col-sm-12 col-md-9 d-flex align-items-center justify-content-center">
      <div class="card-body">
        <div>
          <h3 class="card-title">{{actor.name}}  
            <a href="{% url 'actors:like' actor.id %}" style="color: #db7093">
              {% if user in actor.like_users.all %}
                <i class="fas fa-heart"></i>
              {% else %}
                <i class="far fa-heart"></i>
              {% endif %}
            </a>
          </h3>
          <h5><button class="btn btn-link px-1" data-toggle="modal" data-target="#likeModal">{{ actor.like_users.count }}</button>명이 좋아합니다.</h5>
        </div>
          <div class="stars-container" style="word-wrap:normal;font-size: 30px; width: 5em; height: 45px;">
            <span class="stars-before">★★★★★</span>
            <span class="stars-after" style="width:{{ actor.get_point|mul:10 }}%">★★★★★</span>
          </div>
         <span style="position: absolute;font-size:20px;margin-top:0.6rem">신뢰도 {{ actor.get_point|mul:10|floatformat }}%</span>
      </div>
    </div>
    <!-- 배우 정보 끝 -->
  </div>
  {% include 'like_modal.html' %}
  <hr>
  <!--리뷰 자리-->
  <div class="row mx-2">
    <div class="col-sm-12 col-md-8" style="height: 300px; overflow-y: scroll;">
      <h5 class="mb-2">리뷰</h5>
      {% if actor.ratings.all %}
        <ul class="list-group overflow-auto">
          {% for rating in actor.ratings.all %}
            <li class="list-group-item">
              <form method="post" action="{% url 'actors:delete_rating' actor.id rating.id %}">
                {% csrf_token %}
                <p class="">
                  <a class="mr-3" href="mailto:">{{ rating.user.username }}</a>
                  <a class="mx-1" href="{% url 'actors:update_rating' actor.id rating.id %}"><i class="far fa-edit fa-lg"></i></a>
                  <button class="btn btn-link mx-1 b-0 p-0" type="submit"><i class="fas fa-eraser fa-lg"></i></button>
                </p>
                <div class="d-flex">
                  <span class="badge badge-info badge-pill mr-3">{{ rating.score }}점</span>
                  <span class="mr-auto">{{ rating.comment }}</span>
                </div>
              </form>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="col-sm-12 col-md-4">
      <h5 class="mb-3">리뷰 작성하기</h5>
      {% if update %}
      <form method="post" action="{% url 'actors:update_rating' actor.id rating_id %}">
          {% csrf_token %}
          <!--{% bootstrap_form form %}-->
          {% bootstrap_form form %}
          <button class="btn btn-primary" type="submit">작성</button>
      </form>
      {% else %}
      <form method="post" action="{% url 'actors:create_rating' actor.id %}">
          {% csrf_token %}
          <!--{% bootstrap_form form %}-->
          {% bootstrap_form form %}
          <button class="btn btn-primary" type="submit">작성</button>
      </form>
      {% endif %}
    </div>
  </div>
  <!--리뷰 끝-->
  <hr>
  <div class="row no-gutters m-1">
    <div class="container mt-1" style="padding-left: 20px; padding-right: 20px">
      <div class="row">
        {% for movie in actor.movies.all %}
        <!-- 영화 카드 시작 -->
        <div class="col-sm-12 col-md-4">
          <div class="card px-0 my-1">
            <img src={{movie.poster_URL}} class="card-img-top" alt="poster" data-target="#movie-modal{{movie.id}}"
              data-toggle="modal">
            <div class="card-body" style="padding: 1rem;">
              <h5 class="card-title mb-1">{{movie.title}}</h5>
              <span class="badge badge-primary" style="font-size: 13px">{{movie.score}}</span>
              <p class="card-text"><small class="text-muted">{{movie.open_date}}</small></p>
              <p class="card-text"><small class="text-muted">
                  {% for genre in movie.genres.all %}
                  {{genre.type}}
                  {% endfor %}
                </small></p>
              <a href="{% url 'actors:viewed_movie' movie.id %}">
                {% if user in movie.viewed_users.all %}
                <button class="btn btn-danger" style="font-size: 12px">봤어요</button>
                <!--아니면 -->
                {% else %}
                <button class="btn btn-primary" style="font-size: 12px">안봤어요</button>
                {% endif %}
              </a>
            </div>
          </div>
        </div>
        <!-- 영화 카드 끝 -->
        {% include 'movie_modal.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock%}