{% extends 'bns.html' %}


{% block title %}
main
{% endblock title %}
  
{% block body2 %}
<!-- 배우 순위 시작-->
<div class="card mb-1">
  <a href="{% url 'actors:detail' %}" class="noLink">
  <div class="row no-gutters">
    <div class="col-4 d-flex justify-content-center align-items-center">
      <div class="col-4 pr-2">
        <p class="text-center">1</p>
      </div>
      <div class="col-8">
        <img src="https://search.pstatic.net/common?type=a&size=120x150&quality=95&direct=true&src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2F140%2F20141017144111891.jpg" 
        class="card-img" 
        alt="profile"
        style="width: auto; height: 125px;"
        >
      </div>
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">송강호</h5>
        <p class="card-text">택시운전사, 밀정, 변호인 등 출연</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</a>
</div>
<!-- 배우 순위 카드 끝 -->
<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-4 d-flex justify-content-center align-items-center">
        <div class="col-4 pr-2">
          <p class="text-center">1</p>
        </div>
        <div class="col-8">
          <img src="https://search.pstatic.net/common?type=a&size=120x150&quality=95&direct=true&src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2F140%2F20141017144111891.jpg" 
          class="card-img" 
          alt="profile"
          style="width: auto; height: 125px;"
          >
        </div>
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title">송강호</h5>
          <p class="card-text">택시운전사, 밀정, 변호인 등 출연</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
{% endblock body2 %}
  