{% extends 'bns.html' %}
{% load mathfilters %}

{% block title %}
main
{% endblock title %}

{% block body2 %}
<h2 class="mr-3 my-3">- 명예의 전당</h2>
<!-- 배우 순위 시작-->
{% for actor in actors %}
<div class="card mb-1">
  <a class="noLink" href="{% url 'actors:detail' actor.id %}">
    <div class="row no-gutters ">
      <div class="col-4 d-flex justify-content-center align-items-center" style="height:150px">
        <div class="col-4 pr-2">
          <h5 class="text-center">
            {{ forloop.counter }}
            <br>
          </h5>
        </div>
        <div class="col-8">
          <img src="{{ actor.image }}" class="card-img" alt="profile" style="width: auto; height: 125px;">
        </div>
      </div>
      <div class="col-8">
        <div class="card-body" style="padding: 1rem; margin-left: 16px;">
          <h5 class="card-title mt-3">{{ actor.name }}</h5>
          <p class="card-text">
            <div class="stars-container" style="word-wrap:normal; font-size: 30px; width: 5em; height: 45px;">
              <span class="stars-before">★★★★★</span>
              <span class="stars-after" style="width:{{ actor.get_point|mul:10 }}%">★★★★★</span>
            </div>
            <span class="ml-3" style="position: absolute;font-size:20px;margin-top:0.6rem">{{ actor.get_point|floatformat }}점</span>
          </p>
        </div>
      </div>
    </div>
  </a>
</div>
{% endfor %}
<!-- 배우 순위 카드 끝 -->
{% endblock body2 %}