{% extends 'bns.html' %}


{% block title %}
main
{% endblock title %}
  
{% block body2 %}
{% for actor in actors %}
<!-- 배우 순위 시작-->
<div class="card mb-1">
  <a href="{% url 'actors:detail' actor.id %}" class="noLink">
  <div class="row no-gutters">
    <div class="col-4 d-flex justify-content-center align-items-center" style="height:150px">
      <div class="col-4 pr-2">
        <p class="text-center">1</p>
      </div>
      <div class="col-8">
        <img src="{{ actor.image }}" 
        class="card-img" 
        alt="profile"
        style="width: auto; height: 125px;"
        >
      </div>
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">{{ actor.name }}</h5>
        <p class="card-text">
          
        </p>
      </div>
    </div>
  </div>
</a>
</div>
<!-- 배우 순위 카드 끝 -->
{% endfor %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  $(function() {
  function addScore(score, $domElement) {
    $("<span class='stars-container'>")
      .addClass("stars-" + score.toString())
      .text("★★★★★")
      .appendTo($domElement);
  }

  addScore(70, $("#fixture"));
});
</script>
{% endblock body2 %}
  