{% extends 'base.html' %}
{% load mathfilters %}
{% load humanize %}

{% block title %}
영화 추천
{% endblock title %}

{% block body %}
{% for actor in like_actors %}

  <!-- 배우 정보 -->
  <div class="card my-2">
    <div class="row col-6 offset-3 mt-2">
      <div class="col-3 d-flex align-items-center justify-content-center">
        <img src={{actor.image}} class="card-img" alt="profile" style="height:120px; width:auto">
      </div>
      <div class="col-9">
        <div class="card-body">
          <div>
            <h5 class="card-title d-inline">{{actor.name}}</h5>
            <a href="{% url 'actors:like' actor.id %}" style="color: red">
              {% if user in actor.like_users.all %}
              <i class="fas fa-heart"></i>
              {% else %}
              <i class="far fa-heart"></i>
              {% endif %}
            </a>
          </div>
            <div class="stars-container" style="word-wrap:normal;font-size: 30px; width: 5em; height: 45px;">
              <span class="stars-before">★★★★★</span>
              <span class="stars-after" style="width:{{ actor.get_point|mul:10 }}%">★★★★★</span>
            </div>
            <span class="ml-3" style="position: absolute;font-size:20px;margin-top:0.6rem">{{ actor.get_point|floatformat }}점</span>
        </div>
      </div>
    </div>
    <!-- 배우 정보 끝 -->
    <div class="d-flex align-items-center justify-content-center">
      <a data-toggle="collapse" href="#collapseMovie{{ actor.id }}" role="button" aria-expanded="false" aria-controls="collapseMovie{{ actor.id }}">
        <i class="fas fa-chevron-down fa-2x" style="color: #d2b48c"></i>
      </a>
    </div>
    <div class="collapse mt-1" id="collapseMovie{{ actor.id }}" style="padding-left: 20px; padding-right: 20px">
      <div class="row">
        {% for movie in actor.movies.all %}
          {% if movie not in user.viewed_movies.all %}
            <!-- 영화 카드 시작 -->
            <div class="col-3 px-1" style="width: 18rem;">
              <div class="card px-0 my-1">
                <img src={{movie.poster_URL}} class="card-img-top" alt="poster" data-target="#movie-modal{{movie.id}}"
                  data-toggle="modal">
                <div class="card-body" style="padding: 1rem;">
                  <h5 class="card-title mb-1">{{movie.title}}</h5>
                  <span class="badge badge-primary" style="font-size: 13px">{{movie.score}}</span>
                  <p class="card-text"><small class="text-muted">{{movie.open_date}}</small></p>
                  <p class="card-text"><small class="text-muted">
                      {% for genre in movie.genres.all %}
                      {{genre.type}}
                      {% endfor %}
                    </small></p>
                  <a href="{% url 'actors:viewed_movie' movie.id %}">
                    {% if user in movie.viewed_users.all %}
                      <button class="btn btn-danger" style="font-size: 12px">봤어요</button>
                    {% else %}
                      <button class="btn btn-primary" style="font-size: 12px">안봤어요</button>
                    {% endif %}
                  </a>
                </div>
              </div>
            </div>
            <!-- 영화 카드 끝 -->
            <!-- 영화 모달 시작-->
            <div class="modal fade" id="movie-modal{{movie.id}}" tabindex="-1" role="dialog"
              aria-labelledby="MovieModalLabel{{movie.id}}" aria-hidden="true">
              <div class="modal-dialog" role="document" style="width: 450px;">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="MovieModalLabel{{movie.id}}">{{movie.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <img src={{movie.poster_URL}} class="card-img-top" alt="poster">
                  <div class="modal-body">
                    <p><i class="fas fa-star-half-alt"></i> {{movie.score}} / 10</p>
                    <p><i class="fas fa-users"></i> {{movie.audience|intcomma}} 명</p>
                    <p><i class="fas fa-won-sign"></i> {{movie.sales|intcomma}} 원</p>
                    <hr>
                    <p><i class="fas fa-theater-masks"></i>
                      {% for actor in movie.actors.all %}
                        <a href="{% url 'actors:detail' actor.id %}">{{actor.name}} </a>
                      {% endfor %}
                    </p>
                    <hr>
                    <p>{{movie.summary}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- 영화 모달 끝 -->
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}